  # list operation

In [1]:
l1=[10,20,30,40,50,60,70,80,90,100]
#add element in end of the list with use in append method
# list to add 110 element
l1.append(110)
print(l1)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]

In [8]:
#create another list
l2=[2,4,6,8]
#l2 list is extend in l1 list
l2.extend(l1)
# print all element list l1 to list l2
print(l2)

[2, 4, 6, 8, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 2, 4, 6, 8, 2, 4, 6, 8]

In [10]:
# insert element in list
names=['siddesh','karan','shubham']
#insert the new element in list perticular index
names.insert(2,'pranav')
print(names)

['siddesh', 'karan', 'pranav', 'shubham']

In [13]:
#remove element in list
names.remove('pranav')
popprint(names)

['siddesh', 'karan', 'shubham']

In [22]:
#pop the elements
list5=['a','b','c','d','e']
print(list5)
list5.pop()
print(list5)

['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd']

In [27]:
#list clear opertion throug 
list6=[12,23,87,67,98]
list6.clear()
print(list6)

[]

In [1]:
#repetition operation
list3=[1,2,3]
#three times value are printing
list3*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [13]:
#membership opertion
# in operator in list
li1=[1,2,3,4,5,6,7,8,9,10]
5 in li1

True

In [15]:
#not in opertaion
11 not in li1

True

In [16]:
11 in li1

False

In [22]:
#sort method
li2=[3,1,2,4,5,6,8,6]
#sort list in acesnding order
li2.sort()
print(li2)

[1, 2, 3, 4, 5, 6, 6, 8]

In [25]:
#reverse sorting
li2.sort(reverse=True)
#list are print decending order
print(li2)

[8, 6, 6, 5, 4, 3, 2, 1]

In [29]:
#count operation
li3=[1,2,5,4,5,6,5]
#count the number of elements
li3.count(5)

3

In [44]:
for i in range(5):
    print(i)

0
1
2
3
4

In [47]:
# itration operation
for i in range(5):
    print(i)

0
1
2
3
4

In [39]:
#find length function
len(li3)

7

In [40]:
#max fuction
max(li3)

6

In [43]:
#min value
min(li3)

1

In [49]:
#copy method of list
li4=li3.copy()
print(li4)

[1, 2, 5, 4, 5, 6, 5]