# Tuple operation

In [ ]:
tuple1=(1,2,3,4,5,6,7,8,9,10)
# access tuple index wise
#index operation
tuple1.index(4)
# return the index value

In [11]:
#count method
tuple2=(10,20,30,40,20,20)
x=tuple2.count(20)
print(x)

3

In [12]:
# repetation  the tuple elements
print(3*tuple2)

(10, 20, 30, 40, 20, 20, 10, 20, 30, 40, 20, 20, 10, 20, 30, 40, 20, 20)

In [17]:
#concatenate the elements
tuple3=(1,2,3,4,5)
tuple4=(4,5,6,7)
tuple3+tuple4

(1, 2, 3, 4, 5, 4, 5, 6, 7)

In [20]:
#membership operation
tup=(1,2,3,4,5)
#in operator in membership operator
2 in tup

True

In [21]:
#membership operation
tup=(1,2,3,4,5)
# not in operator in membership operator
2  not in tup

False

In [23]:
# itration the tuple
#lopping itration
for i in tup:
    print(i)

1
2
3
4
5

In [25]:
# length of tuple
len(tup)

5

In [26]:
#maximum function in tuple
max(tup)

5

In [27]:
#minimum function in tuple
min(tup)

1

In [35]:
#secified sequence tuple
# first create list
l1=[10,20,30,40]
#convert list in tuple in tuple function
tup8=tuple(l1)
#print tuple
print(tup8)

(10, 20, 30, 40)

In [4]:
#sorting tuple
tup7=(10,54,76,34,23)
sorted_tuple=sorted(tup7)
#print after sorting tuple
print(sorted_tuple)

[10, 23, 34, 54, 76]